---

---

<footer class="bg-black text-white p-6">
  <h2 class="hidden">Footer</h2>
  <p class="flex justify-center items-center">
    <a href="https://astro.build"
      ><img
        src="https://astro.badg.es/v2/built-with-astro/small.svg"
        alt="Built with Astro"
        width="192"
        height="32"
      /></a
    >
  </p>
</footer>
